<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/slika1.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slika2.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slika3.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slika4.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Dobrodosli! </h1>
    </div>
</section>