<header class="d-flex flex-md-row align-items-center justify-content-between p-3 px-4 mb-4 
bg-white border-bottom fixed-top">
    <img src="/assets/images/HF.png" alt="logo" class="logo " style="max-height: 80px;" routerLink="/">

    <nav class="my-2 fs-5">
        <a class="p-3" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pocetna</a>
        <a class="p-3" routerLink="/shop" routerLinkActive="active">Proizvodi</a>
        <a class="p-3" routerLink="/contact" routerLinkActive="active">O nama</a>
    </nav>
    <div class="d-flex align-items-center fs-6">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-4 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a href="" class="p-3 text-dark text-decoration-none">Prijava</a>
        <a href="" class="p-3 text-dark text-decoration-none">Registracija</a>
    </div>
</header>